.Posts{
  .body{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 15% auto 15%;
    .content{
      position: relative;
      padding: 0 20px;
      border: 1px solid #ddd;
      border-bottom: 0;
      border-top: 0;
      .postTitle{
        width: 100%;
        padding: 5px;
        font-size: 18px;
      }
      .status{
        border: 1px solid rgb(184, 184, 184);
        text-align: center;
        padding: 5px;
      }
      .loadingPage{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .sidebarRight{
      padding-left: 20px;
      .postsForm{
        input, select{
          box-sizing: border-box;
          padding: 5px;
          width: 100%;
          margin-bottom: 10px;
        }
        input:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}