.Users{
  .body{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 15% auto 15%;
    .content{
      padding: 0 20px;
      border: 1px solid #ddd;
      border-bottom: 0;
      border-top: 0;
      .status{
        border: 1px solid rgb(184, 184, 184);
        text-align: center;
        padding: 5px;
      }
    }
    .sidebarRight{
      padding-left: 20px;
      .usersForm{
        input{
          box-sizing: border-box;
          padding: 5px;
          width: 100%;
          margin-bottom: 10px;
        }
        input:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}